@{
    ViewBag.Title = "Conclusion";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<p>
    Congratulations, you have successully used a database to, um... save the galaxy? Ya'know, until another baddy comes along and decides
    to build yet another device capable of annihalating an entire planet. I'm sure it'll be fine.
</p>
<a href="https://babylonbee.com/news/trump-gives-chewbacca-long-awaited-medal-for-heroic-acts-in-battle-of-yavin">
    <img src="https://babylonbee.com/img/articles/article-5044-1.jpg" width="800"/>
</a>
