@{
    ViewBag.Title = "2.1 Evacuating the Death Star - Recap";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<p>Here's the passenger list:</p>
<ul>
    <li>Leia Organa - 49kg</li>
    <li>Barriss Offee - 50kg</li>
    <li>Padmé Amidala - 45kg</li>
    <li>Beru Whitesun lars - 75kg</li>
    <li>Mon Mothma - 50kg</li>
    <li>Ayla Secura - 55kg</li>
    <li>Luminara Unduli - 56.2kg</li>
    <li>Shmi Skywalker - 50kg</li>
    <li>Jabba Desilijic Tiure - 1358kg</li>
    <li>Wicket Systri Warrick - 20kg</li>
    <li>Luke Skywalker - 77kg</li>
    <li>Wedge Antilles - 77kg</li>
    <li>Plo Koon - 80kg</li>
    <li>Biggs Darklighter - 84kg</li>
    <li>Han Solo - 80kg</li>
</ul>

<p>

</p>
<p>
    What would happen if we decided to swap our priorities of who to save? Would this index be as useful to us if we decided to prioritize age over gender?
    When designing an index, we need to carefully consider the order of the columns. If we had reversed the columns, it would have been much more difficult to use this index
    for our specific query. In all likelihood, the database engine would decide that it is more effective to perform a table scan.
</p>
<p>
    Continue onto the <a asp-action="Exercise4">next exercise.</a>
</p>
