@{
    ViewBag.Title = "1.2 Orphans of Alderaan Revisited - Recap";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<p>
    With a new index, were you able to find the data quicker? Ideally, you would have followed the link to Homeworld 2, then followed the 3 links to the people born on Alderaan to find their names.
    This operation is known as an <strong>index seek.</strong> Generally, seeking is faster than scanning, although there are operations where a scan excels.
</p>
<p>
    In the next exercise, we'll explore one of those scenarios. <a asp-action="Exercise3">Continue on.</a>
</p>
