@model System.Collections.Generic.List<int>

@{
    ViewBag.Title = "People by Homeworld Index";
    Layout = "_Layout";
}

<h2>People by Homeworld Index</h2>

<p>This page represents the tree structure of the index, but since it's hard to draw a tree in HTML, we're just going to have a link to the rows for each value. Use your imagination for what the tree structure might look like.</p>
<p>You can also see the whole index in <a asp-action="ByHomeworld">linear order</a>, if you like.</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Homeworld</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var homeworldId in Model)
    {
        <tr>
            <td><a asp-action="ByHomeworld" asp-route-homeworld="@homeworldId">@homeworldId</a></td>
        </tr>
    }
    </tbody>
</table>
